<div class="wyrm-items-list-header">
    <div>{{ localize 'WYRM.Name' }}</div>
    <a class="item-control container-create" title="{{ localize 'WYRM.CreateContainer' }}" data-type="item"><i class="fas fa-plus"></i>&nbsp;{{ localize 'WYRM.AddContainer' }}</a>
</div>
{{#each data.system.containerObjects as |ctr id|}}
<div class="wyrm-items-list-row" data-item-id="{{ctr.uuid}}" data-is-container="true">
    <div class="wyrm-items-list-row-header">
        <div class="wyrm-item-name-and-tags">
            <a class="wyrm-item-title">
                {{ctr.name}} ({{ctr.system.slotsUsed}}/{{ctr.system.slots.value}})
            </a>
        </div>

        <div class="wyrm-item-controls">
            <a class="item-control item-edit" title="{{ localize 'WYRM.EditItem' }}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="{{ localize 'WYRM.DeleteItem' }}"><i class="fas fa-trash"></i></a>
        </div>
    </div>
</div>
{{/each}}